* { margin: 0; }
body {
  background-color: #505050;
  color: #eeeeee;
  font-family: monospace;
  font-size: 16pt;
  margin: 0px;
  padding: 0px;
}

#login {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: -moz-linear-gradient(top, #505050, #323232);
  background: -webkit-gradient(linear, left top, left bottom, from(#505050), to(#323232));
  background-color: #323232;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 498px;
}
#login input {
  -moz-border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-border-radius: 3px;
  -webkit-box-sizing: border-box;
  background-color: #eeeeee;
  border: 1px inset #505050;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  outline: none;
  padding: 5px;
}
#login input#host {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 256px;
}
#login input#password {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 20px;
  margin-top: auto;
  width: 333px;
}
#login input#port {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 20px;
  margin-top: auto;
  width: 64px;
}
#login input#submit {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 333px;
}
#login label {
  color: #eeeeee;
  display: block;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: auto;
  margin-top: auto;
  text-align: right;
}
#login span.logo {
  color: #eeeeee;
  display: inline-block;
  font-size: 32px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#login label { color: #ffffff; text-shadow: 1px 1px 0px rgba(175, 210, 220, 0.8); }

.spice-area {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0px;
}
.spice-screen {
  background-color: #323232;
  height: 100%;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 2px;
  padding: 0px;
}

.spice-message {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: -moz-linear-gradient(top,  #505050,  #323232);
  background: -webkit-gradient(linear, left top, left bottom, from(#505050), to(#323232));
  background-color: #323232;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  color: #eeeeee;
  font-family: monospace;
  font-size: 8pt;
  height: 128px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  padding: 16px;
  width: 75%;
}
.spice-message p {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
